
.modal {
  background: #eb570117;
  // backdrop-filter: blur(10px);
}
.modal-content {
  // background-image: url("../../../Assets/background.png");
  border: 2px solid #5BC4E2;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #000;
  // background-color: yellowgreen;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #a74168;
  box-sizing: border-box;
  border-radius: 17px;
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: 1.5;
  }
  .modal-content {
  
}
  .modal-header {
    border-bottom: none;
    h5 {
      color: #fff;
    }
  }
  .btn-close {
    border: none;
    background: transparent;
    outline: none;
  }
  .pop-content {
    text-align: center;

    .inner-tile {
      background: transparent;
      background-color: #fcd419;
      border: 1px solid #fcd419;
      box-sizing: border-box;
      border-radius: 2px;
      margin: 10px 0px;
      padding: 20px;
      width: 100%;

      &:hover {
        background-color: #fcd419;
      }
    }
  }
  .modal-body button {
    background: #7d3e8c57;
    border: 2px solid #7d3e8c8f;
    box-sizing: border-box;
    border-radius: 10px;
    color: #fff;
    display: flex;
    justify-content: center !important;
    box-shadow: 0px -2px 10px #4b1757;
}
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 650px;
    margin: 1.75rem auto;
  }
}
@media (min-width: 576px) {
  .modal-dialog-wallet {
    max-width: 500px;
    margin: 1.75rem auto;
  }
}
iframe {
  position: unset !important;
  top: 0px !important;
  left: 0px !important;
  width: 0px !important;
  height: 0px !important;
}
.ptb-100 {
  padding: 110px 0px;
}
